.main-navbar {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  transition: all 0.3s ease-in-out;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  z-index: 999;
}

.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.95) !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link-custom {
  position: relative;
  padding: 6px 12px;
  font-weight: 500;
  transition: all 0.2s ease;
  color: #333 !important;
}

.nav-link-custom::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

.nav-link-custom:hover::after {
  width: 100%;
}

.nav-link-custom:hover {
  color: #0d6efd !important;
}


.active-section {
  background-color: rgba(246, 0, 111, 0.266);
  color: rgb(0, 0, 0) !important;
  border-radius: 10px;
}

.active-section::after {

  width: 100%;
}
